*{
    margin: 0px;
}

body{
    background-color: rgb(0,0,0);
    color: rgb(243, 242, 202);
}

.navbar{
    margin-bottom: 0px;
    border-radius: 0px;
}

#header{
    height: 100vh;
    background-image: url(/img/hamburger.jfif);
    filter: saturate(75%);
    /* background-color: brown; */

}

#header-bg-overlay{
    display: flex;
    justify-content: center;
    background-color: rgba(4, 194, 137, .4);
    height: inherit;
    width: 100%;
}

#header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 40%;
    background-color:chocolate;

}

#menu{
    display: flex;
    justify-content: center;
    background-color: rgb(50, 42, 165);
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    width: 40%;
    /* background-color:rgb(185, 85, 13); */
}

.form-group{
    width: 100%;
}

#footer{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    /* background-color: brown; */
    
}