*{
    margin: 0px;
}

body{
    background-color: rgb(243, 242, 202);
    color: rgb(243, 242, 202);
}

h1{
    font-family: 'Freckle Face', cursive;
    font-size: 120pt;
    color: rgb(228, 152, 13);
}

h3{
    font-family: 'Ceviche One', cursive;
    font-size: 60pt;
}

p{
    font-size: 18px;
}

/* NAV CSS */
.navbar{
    margin-bottom: 0px;
    border-radius: 0px;
    padding: 10px 0px 10px 10px;
    background-color: rgb(6, 108, 116) !important;
    border-color:teal;
}

.navbar-brand {
    position: relative;
    background: url(../img/Logo.png);
    width: 80px;
    margin: 5px, 5px, 0px, 15px;
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar-inverse .navbar-nav>li>a{
 color: rgb(255,255,255);
}

/* HEADER CSS */
#header{
    height: 95vh;
    background-image: url(/img/hamburger.jfif);
    background-size: cover;
    filter: saturate(120%);


}

#header-bg-overlay{
    display: flex;
    justify-content: center;
    background-color: rgba(4, 194, 137, .4);
    height: inherit;
    width: 100%;
}

#header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header-container p{
    font-family: 'Freckle Face', cursive;
    font-size: 30pt;
    margin-bottom: -40px;
}

#header-container h3{
    font-size: 74pt;
    margin-top: -50px;
}

.welcomehead{
    align-self: flex-start;
    margin-bottom: 10px;
}

.dinerhead{

}

.subhead{
    align-self: flex-end;
    margin-bottom: 20px;
}


/* ABOUT CSS */
#about{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(228, 152, 13);
    /* background-color:chocolate; */

}

.about-text-box{
    padding: 200px 0px;
}


/* MENU CSS */
#menu{
    display: flex;
    justify-content: center;
    background-color: rgb(50, 42, 165);
}


/* FORM CSS */
#form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 160, 113);
    padding-bottom: 50px;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}


#form h3{
    font-family: 'Ceviche One', cursive;
    font-size: 30pt;
}

.form-group{
    width: 100%;
}

.form-text{
    color:rgb(18, 110, 110);
}

.btn-primary{
    background-color: rgb(228, 152, 13) !important;
    font-weight: bold !important;
    align-self: flex-end;
}

/* FOOTER CSS */
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(4, 160, 113);
    /* background-color: brown; */
    
}

.socials{
    height: 30px;
    width: 30px;
    filter: invert(100%) sepia(91%) saturate(38%) hue-rotate(321deg) brightness(110%) contrast(110%);
    margin: 0px 20px;
}

/* MEDIA QUERIES  */


@media only screen and (max-width: 900px) {
    h1{
        font-family: 'Freckle Face', cursive;
        font-size: 80pt;
        color: rgb(228, 152, 13);
    }


  #header-container p{
    font-family: 'Freckle Face', cursive;
    font-size: 20pt;
    margin-bottom: -40px;
  }

#header-container h3{
        font-family: 'Ceviche One', cursive;
        font-size: 30pt;
  }
  .subhead{
      margin-top: 30px;
  }

  
  #about{
    padding: 0px 75px;
    text-align: center;
}

    #form{
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    h1{
        font-family: 'Freckle Face', cursive;
        font-size: 40pt;
        color: rgb(228, 152, 13);
    }


  #header-container p{
    font-family: 'Freckle Face', cursive;
    font-size: 20pt;
    margin-bottom: -40px;
  }

#header-container h3{
        font-family: 'Ceviche One', cursive;
        font-size: 30pt;
  }
  .subhead{
      margin-top: 30px;
  }

  .btn-primary{
    background-color: rgb(228, 152, 13) !important;
    font-weight: bold !important;
    align-self: center;
    width: 100%;
}

}
